<p>Гит е труден: да осереш нещата е лесно, а да разбереш как да ги изчистиш.. майката си е ебало. Документацията на гит е малко като кокошката и яйцето - не можеш да потърсиш как да излезеш от лоша ситауция <em>без да знаеш името на нещото което ти трябва да знаеш</em> за да си оправиш проблема.</p>

<p>Та ето някои лоши ситуации, в които съм се забърквал и как накрая съм се измъквал от тях <em>на чист български<em>.</p>
