<p>*Внимание: Този сайт не е с целта да бъде изчерпателен наръчник. Да, има и други начини да постигнеш същите неща с повече теоритична точност или каквото и да е там, но аз достигнах до тези стъпки след много опити, грешки, псувни и обръщане на маси. И ето появи се тази луда идея да ги споделя със здравословна доза лекомислие и ругатни. Щеш - не щеш, това е!</p>
