<p>Благодарности на всички, които доброволно се включиха в това да преведат сайта на нови езици, страхотни сте!
{% include "partials/collaborator-list.njk" %}. С допълнителна помощ от {% include "partials/otherhelper-list.njk" %}</p>

<p>Ако искаш да помогнеш с добавянето на превод на твоя език, изпрати PR на {% github_link %}</p>
